.box{
	background-color:#435d7d;
	padding:2% 3% 1% 3%;
}
nav{
	display:flex;
	justify-content:space-between;
}
.size{
	width:20%;
}

#selectall[type=checkbox] {
    accent-color: grey;
  }